<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SuperPyMe Home</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

  <style></style>

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"> SuperPyMe Nav </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datasources.html">Data Sources</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data Visualizations
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/franchise_location_sentiment">Franchise Location and Average Sentiment</a>
            <a class="dropdown-item" href="/change_in_sentiment">Change in Sentiment Over Time</a>
            <a class="dropdown-item" href="/avg_city_sentiment">Average Sentiment per City</a>
            <a class="dropdown-item" href="/tableau_vis">Interactive Tableau Visualizations</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/final_conclusions">Final Conclusions</a>
        </li>
        </li>
      </ul>

    </div>
</nav>

<body style="background-color: white;">
  
  <h1 style="text-align: center; color: #1DA1F2;">
    SuperPyMe!
  </h1>
  <h3 style="text-align: center; color: #1DA1F2;">
    Franchise Location and Average Sentiment
  </h3>

  <div class="container">
    <div class='row'>
    <div class="col-md-12">
      <hr width="100%" size="20"style="border-top: 1px dashed gray;">
      <!-- <h3 style="text-align: center; color: #1DA1F2;">What is Twitter Sentiment?</h3> -->
      <p>Below we can observe the cities with population greater than 75,000 for each respective fast 
        food restaurant.  In the below image, we can also see the overall average sentiment, positive or negative, 
        towards each restaurant.</p>
        <hr>
        <img src="https://github.com/Jordan-0618/SuperPyMe/blob/main/Flask/Templates/Images/CA_Avg_Sentiment.png?raw=true" width="100%" alt="CA_Avg_Sentiment">

    </div>
    </div>
  </div>

  <!--Script to run drop down menu-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>